! ❶ ❷ ❸ ❹ ❺ ❻ ❼ ❽ ❾ ❿
*background:	#282828
*color0:	#282828
*color1:	#cc241d
*color10:	#b8bb26
*color11:	#fabd2f
*color12:	#83a598
*color13:	#fe8019
*color14:	#8ec07c
*color15:	#ebdbb2
*color2:	#98971a
*color3:	#d79921
*color4:	#458588
*color5:	#d65d0e
*color6:	#689d6a
*color7:	#a89984
*color8:	#928374
*color9:	#fb4934
*customization:	-color
*foreground:	#ebdbb2
St.color0:	#282828
St.color1:	#fb4934
St.color10:	#458588
St.color11:	#bfbab0
St.color12:	#e6e1cf
St.color13:	#d3869b
St.color14:	#e6e1cf
St.color15:	#ffffff
St.color2:	#b8bb26
St.color3:	#fabd2f
St.color4:	#458588
St.color5:	#fb4934
St.color6:	#8ec07c
St.color7:	#e6e1cf
St.color8:	#bfbab0
St.color9:	#fe8019
St.font:	FiraCode Nerd Font:pixelsize=16:antialias=true:autohint=true

!Xcursor.size:	20
!!Xcursor.theme:	Adwaita
!Xft.antialias:	1
!Xft.dpi:	96
!Xft.hinting:	1
!Xft.hintstyle:	hintslight
!Xft.rgba:	none

!i3-wm.bar.background.color:	#282828
!i3-wm.bar.font:	pango:FiraCode Nerd Font 10, FontAwesome 10
!i3-wm.bar.position:	bottom
!i3-wm.bar.separator.color:	#458588
!i3-wm.bar.statusline.color:	#e6e1cf
!i3-wm.bar.workspace.active.background.color:	#b8bb26
!i3-wm.bar.workspace.active.border.color:	#b8bb26
!i3-wm.bar.workspace.active.text.color:	#bfbab0
!i3-wm.bar.workspace.focused.background.color:	#b8bb26
!i3-wm.bar.workspace.focused.border.color:	#b8bb26
!i3-wm.bar.workspace.focused.text.color:	#ffffff
!i3-wm.bar.workspace.inactive.background.color:	#282828
!i3-wm.bar.workspace.inactive.border.color:	#282828
!i3-wm.bar.workspace.inactive.text.color:	#bfbab0
!i3-wm.bar.workspace.urgent.background.color:	#fe8019
!i3-wm.bar.workspace.urgent.border.color:	#fe8019
!i3-wm.bar.workspace.urgent.text.color:	#ffffff
i3-wm.client.focused.color.background:	#458588
i3-wm.client.focused.color.border:	#282828
i3-wm.client.focused.color.child_border:	#ebdbb2
i3-wm.client.focused.color.indicator:	#458588
i3-wm.client.focused.color.text:	#ffffff
i3-wm.client.focused_inactive.color.background:	#b8bb26
i3-wm.client.focused_inactive.color.border:	#282828
i3-wm.client.focused_inactive.color.child_border:	#282828
i3-wm.client.focused_inactive.color.indicator:	#b8bb26
i3-wm.client.focused_inactive.color.text:	#e6e1cf
i3-wm.client.unfocused.color.background:	#b8bb26
i3-wm.client.unfocused.color.border:	#282828
i3-wm.client.unfocused.color.child_border:	#282828
i3-wm.client.unfocused.color.indicator:	#b8bb26
i3-wm.client.unfocused.color.text:	#e6e1cf
i3-wm.client.urgent.color.background:	#fb4934
i3-wm.client.urgent.color.border:	#282828
i3-wm.client.urgent.color.child_border:	#282828
i3-wm.client.urgent.color.indicator:	#fb4934
i3-wm.client.urgent.color.text:	#ffffff
i3-wm.floatingwindow.border.size:	1
i3-wm.font:	pango:FiraCode Nerd Font 11
i3-wm.gaps.inner.size:	0
i3-wm.gaps.outer.size:	0
i3-wm.window.border.size:	1
