:root {
  /* Minimal Functional Fox variables*/
  --mff-bg: #282828;
  --mff-icon-color: #ebdbb2;
  --mff-nav-toolbar-padding: 8px;
  --mff-sidebar-bg: var(--mff-bg);
  --mff-sidebar-color: #ebdbb2;
  --mff-tab-border-radius: 0px;
  --mff-tab-color: #fefefa;
  --mff-tab-font-family: "Cantarell", sans;
  --mff-tab-font-size: 9pt;
  --mff-tab-font-weight: 400;
  --mff-tab-height: 16px;
  --mff-tab-pinned-bg: #458588;
  --mff-tab-selected-bg: #d65d0e;
  --mff-tab-soundplaying-bg: #b8bb26;
  --mff-urlbar-color: #83a598;
  --mff-urlbar-focused-color: #ebdbb2;
  --mff-urlbar-font-family: "Cantarell", serif;
  --mff-urlbar-font-size: 10pt;
  --mff-urlbar-font-weight: 700;
  --mff-urlbar-results-color: #ebdbb2;
  --mff-urlbar-results-font-family: "mononoki Nerd Font", serif;
  --mff-urlbar-results-font-size: 10pt;
  --mff-urlbar-results-font-weight: 700;
  --mff-urlbar-results-url-color: #282828;
  /*   --mff-tab-selected-bg: linear-gradient(90deg, rgba(232,74,95,1) 0%, rgba(255,132,124,1) 50%, rgba(254,206,168,1) 100%); */
  /*   --mff-urlbar-font-weight: 600; */

  /* Overriden Firefox variables*/
  --autocomplete-popup-background: var(--mff-bg) !important;
  --default-arrowpanel-background: var(--mff-bg) !important;
  --default-arrowpanel-color: #fefefa !important;
  --lwt-toolbarbutton-icon-fill: var(--mff-icon-color) !important;
  --panel-disabled-color: #f9f9fa80;
  --toolbar-bgcolor: var(--mff-bg) !important;
  /* --urlbar-separator-color: transparent !important; */

  --base00: #282828;
  --base01: #3c3836;
  --base02: #504945;
  --base04: #bdae93;
  --base05: #d5c4a1;
  --base06: #ebdbb2;

  --tab-toolbar-navbar-overlap: 0px !important; /* fix for full screen mode */
  --tab-min-height: 25px !important;
}

/*
  _____ _   ___ ___
 |_   _/_\ | _ ) __|
   | |/ _ \| _ \__ \
   |_/_/ \_\___/___/

*/
#tabbrowser-tabs {
 --tab-min-height: 25px !important;
}
#TabsToolbar {height: var(--tab-min-height) !important;}
.tab-background[selected="true"] {
  background: var(--mff-tab-selected-bg) !important;
}
.tabbrowser-tab[soundplaying="true"] {
  background-color: var(--mff-tab-soundplaying-bg) !important;
}
.tab-background:not[visuallyselected] {
  background-color: var(--mff-tab-selected-bg) !important;
  opacity: 0.5 !important;
}
hbox.tab-content[pinned="true"] .tab-text {
  display: none !important;
}
.tab-text {
  font-family: var(--mff-tab-font-family);
  font-weight: var(--mff-tab-font-weight);
  font-size: var(--mff-tab-font-size) !important;
  color: var(--mff-tab-color);
}
.tab-close-button {
  display: none !important;
}
.tab-icon-sound {
  display: none !important;
}
.tabbrowser-tab {
  /* border-radius: var(--mff-tab-border-radius) !important; */
  /* border-width: 1 !important; */
  /* border-color: var(--mff-tab-selected-bg) !important; */
  /* height: var(--mff-tab-height) !important; */
  margin-bottom: 3px !important;
  margin-inline-end: 3px !important;
  margin-top: 2px !important;
  max-height: var(--mff-tab-height) !important;
  min-height: var(--mff-tab-height) !important;
  min-width: 2px !important;
}
#tabbrowser-tabs,
#tabbrowser-arrowscrollbox {
  min-height: 0 !important;
}
.tab-content {
    overflow: hidden !important;
}
.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: none !important;
}
#tabbrowser-tabs ~ #alltabs-button {display:none!important;}

/* url bar */
#urlbar-wrapper {
  height: 12px !important; 
  max-height: 12px !important;
  /* margin-bottom: -12px !important; */
  padding: 0px;
}
#urlbar {
  padding: 0px;
  /* margin-top: -10px !important; */
  min-height: 12px !important;
}
#urlbar-input {
  /* font-size: var(--mff-urlbar-font-size) !important;
  color: var(--mff-urlbar-color) !important; */
  font-family: var(--mff-urlbar-font-family) !important;
  font-weight: var(--mff-urlbar-font-weight) !important;
  text-align: center !important;
  /* max-height: 20px !important; */
  padding: 0;
}
